.alert {
    box-sizing: content-box;
    width: 60%;
    padding: 15px;
    word-break:break-all;
    margin: auto;
    &.alert-success {
        color : $success;
        border: 1px solid rgba($success,.5);
        background-color: rgba($success,.3);
    }
    &.alert-success > hr{
        border: thin solid rgba($success,.4)
    }

    &.alert-primary {
        color : $primary;
        border: 1px solid rgba($primary,.5);
        background-color: rgba($primary,.3);
    }
    &.alert-primary > hr{
        border: thin solid rgba($primary,.4)
    }

    &.alert-warning {
        color : $warning;
        border: 1px solid rgba($warning,.5);
        background-color: rgba($warning,.3);
    }
    &.alert-warning > hr{
        border: thin solid rgba($warning,.4)
    }

    &.alert-danger {
        color : $danger;
        border: 1px solid rgba($danger,.5);
        background-color: rgba($danger,.3);
    }
    &.alert-danger > hr{
        border: thin solid rgba($danger,.4)
    }

    &.alert-dark {
        color : $dark;
        border: 1px solid rgba($dark,.5);
        background-color: rgba($dark,.3);
    }
    &.alert-dark > hr{
        border: thin solid rgba($dark,.4)
    }

    &.alert-light {
        color : $light-hover;
        border: 1px solid $light-hover;
        background-color: $white;
    } 
    &.alert-light > hr{
        border: thin solid rgba($light-hover,.4)
    }

     &.alert-info {
        color : $info;
        border: 1px solid rgba($info,.5);
        background-color: rgba($info,.3);
    } 
    &.alert-info > hr{
        border: thin solid rgba($info,.4)
    }

    &.alert-brown {
        color : $brown;
        border: 1px solid rgba($brown,.5);
        background-color: rgba($brown,.3);
    }
    &.alert-brown > hr{
        border: thin solid rgba($brown,.4)
    }
}
.alert-heading{
    margin: auto;
    font-size: 30px;
}