/**
 * Badge
 */
.badge {
	display: inline;
	padding: .3em .5em;
	font-size: 75%;
	font-weight: 700;
	// line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $BORDER-XS;
}

/**
 * Badge Colors
 */
@each $color, $value in $colors-lists {
    .badge-#{$color} {
		color: $light;
		background-color: $value;
    }
}
.badge-light {
	color: $dark;
	background-color: $light;
}

/**
 * Badge-pill
 */
.badge-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 50rem;
}