.btn {
    font-size: 20px;
    margin: 4px 5px;
    padding: 5px 20px;
    border-radius: 5%;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: 0px;   
    &.btn-sm {
        padding: 8px 8px;
        font-size: 12px;
    }
    &.btn-lg {
        border-radius: 2%;
        padding: 20px 40px;
    }
    &.btn-block {
        border-radius: 2%;
        min-width: 100%;
    }
}

// ----
.btn-success {
    background-color: $success;
    color: $white;
    &:hover {
        background-color : $success-hover;
    }
    &:focus {
        outline-color: $success-focus;
    }
}
.btn-outline-success {
    background-color: $white;
    color :$success;
    border: 1px solid $success;
    &:hover {
        background-color: $success-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $success-ol-focus;    
    }
}

// ----
.btn-primary {
    background-color: $primary;
    color: $white;
    &:hover {
        background-color : $primary-hover;
    }
    &:focus {
        outline-color: $primary-focus;
    }
}
.btn-outline-primary {
    background-color: $white;
    color : $primary;
    border: 1px solid $primary;
    &:hover {
        background-color: $primary-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $primary-ol-focus;    
    }
}

// ----
.btn-warning{
    background-color: $warning;
    color: $white;
    &:hover {
        background-color : $warning-hover;
    }
    &:focus {
        outline-color: $warning-focus;
    }
}
.btn-outline-warning {
    background-color: $white;
    color :$warning;
    border: 1px solid $warning;
    &:hover {
        background-color: $waring-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $waring-ol-focus;    
    }
}

// ----
.btn-danger {
    background-color: $danger;
    color: $white;
    &:hover {
        background-color : $danger-hover;
    }
    &:focus {
        outline-color: $danger-focus;
    }
}
.btn-outline-danger {
    background-color: $white;
    color :$danger;
    border: 1px solid $danger;

    &:hover {
        background-color: $danger-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $danger-ol-focus;  
    }
}

// ----
.btn-dark {
    background-color:$dark;
    color: $white;
    &:hover {
        background-color : $dark-hover;
    }
    &:focus {
        outline-color: $dark-focus;
    }
}
.btn-outline-dark {
    background-color: $white;
    color : $dark;
    border: 1px solid $dark;
    &:hover {
        background-color: $dark-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $dark-ol-focus;  
    }
}

// ----
.btn-light {
    background-color:$white;
    color: $black;
    &:hover {
        background-color : $light-hover;
    }
    &:focus {
        outline-color: $light-focus;
    }
}

// ----
.btn-info {
    background-color: $info;
    color: $white;
    &:hover {
        background-color : #3EA99F;
    }
    &:focus {
        outline-color: #3EA99F;
    }
}
.btn-outline-info {
    background-color: $white;
    color :$info;
    border: 1px solid $info;
    &:hover {
        background-color: $info-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $info-ol-focus;  
    }
}

// ----
.btn-brown {
    background-color: $brown;
    color: $white;
    &:hover {
        background-color : $brown-hover;
    }
    &:focus {
        outline-color: $brown-focus;
    }
}
.btn-outline-brown {
    background-color: $white;
    color :$brown;
    border: 1px solid $brown;
    &:hover {
        background-color: $brown-ol-hover;
        color: $white;
    }
    &:focus {
        outline-color: $brown-ol-focus;  
    }
}