/**
 * 	Base of Button
 */
.btn {
    display: inline-block;
    padding: .375rem .75rem;
    border: 0px;
    border-radius: $BORDER-XS;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	cursor: pointer;
	line-height: 1.5;
	&.disabled,
	&:disabled {
		opacity: .7;
		cursor: default;
	}
}

/**
 * 	SM Button size
 */
.btn-sm {
	padding: 8px 8px;
	font-size: 12px;
}

/**
 * 	LG Button size
 */
.btn-lg {
	padding: 20px 40px;
}

/**
 * 	W-100 Button size
 */
.btn-block {
	min-width: 100%;
}

/**
 * 	Button focus event & border setting
 */
@mixin focus-darken ($color) {
    border: 1px solid $color;
	&:not(:disabled):not(.disabled):focus {
		outline: none;
		box-shadow: 0 0 0 1px darken($color, 10%);
    }
}

/**
 * 	Primary Button
 */
.btn-primary {
    color: $white;
    background-color: $primary;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($primary, 10%);
        border-color : darken($primary, 10%);
    }
	@include focus-darken($primary);
}
.btn-outline-primary {
    color : $primary;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $primary;
        color: $white;
    }
	@include focus-darken($primary);
}

/**
 * 	Success Button
 */
.btn-success {
    color: $white;
    background-color: $success;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($success, 10%);
        border-color : darken($success, 10%);
    }
	@include focus-darken($success);
}
.btn-outline-success {
    color :$success;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $success;
        color: $white;
    }
	@include focus-darken($success);
}


/**
 * 	Warning Button
 */
.btn-warning{
    color: $white;
    background-color: $warning;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($warning, 10%);
        border-color : darken($warning, 10%);
    }
	@include focus-darken($warning);
}
.btn-outline-warning {
    color :$warning;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $warning;
        color: $white;
    }
	@include focus-darken($warning);
}

/**
 * 	Danger Button
 */
.btn-danger {
    color: $white;
    background-color: $danger;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($danger, 10%);
        border-color : darken($danger, 10%);
    }
	@include focus-darken($danger);
}
.btn-outline-danger {
    color :$danger;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $danger;
        color: $white;
    }
	@include focus-darken($danger);
}

/**
 * 	Dark Button
 */
.btn-dark {
    color: $white;
    background-color: $dark;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($dark, 15%);
        border-color : darken($dark, 15%);
    }
	@include focus-darken($dark);
}
.btn-outline-dark {
    color : var(--blackColor);
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $dark;
        color: $white;
    }
	@include focus-darken($dark);
}

/**
 * 	Light Button
 */
.btn-light {
    color: $dark;
    background-color: $light;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($light, 10%);
        border-color : darken($light, 10%);
    }
	@include focus-darken($light);
}

/**
 * 	Info Button
 */
.btn-info {
    color: $white;
    background-color: $info;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($info, 10%);
        border-color : darken($info, 10%);
    }
	@include focus-darken($info);
}
.btn-outline-info {
    color: $info;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $info;
        color: $white;
    }
	@include focus-darken($info);
}

/**
 * 	Brown Button
 */
.btn-brown {
    color: $white;
    background-color: $brown;
	&:not(:disabled):not(.disabled):hover {
        background-color : darken($brown, 10%);
        border-color : darken($brown, 10%);
    }
	@include focus-darken($brown);
}
.btn-outline-brown {
    color: $brown;
    background-color: transparent;
	&:not(:disabled):not(.disabled):hover {
        background-color: $brown;
        color: $white;
    }
	@include focus-darken($brown);
}