/**
 * Form values
 * $FORM-TYPE-SIZE and $FORM-LABEL-BLANK must have the same data type, like 'px' 'rem'...
 */
$FORM-TYPE-SIZE: 1rem;
$FORM-LABEL-BLANK: .6rem;
$FORM-CHECK-INLINE-MARGIN: 1rem;
$DISABLED-OPA: .6;

.form {
	
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
	.form-group[class*=col-]{
		padding-right: 5px;
		padding-left: 5px;
	}
}

/**
 * form-group
 */
.form-group {
	margin-bottom: 1rem;
}
/**
 * .form-group .form-control-plaintext
 */
.form-control-plaintext {
	padding-top: .375rem;
	padding-bottom: .375rem;
	margin-bottom: 0;
	line-height: 1.5;
	background-color: transparent;
	border: solid transparent;
	border-width: 1px 0;
	color: var(--blackColor);
}
/**
 * .form-group.col-form-label
 */
.col-form-label {
	margin-top: 15px;
	padding-left: $FORM-TYPE-SIZE + $FORM-LABEL-BLANK;
	margin-bottom: 0;
}
.col-form-label-sm {
	font-size: .875rem;
	line-height: 1.5;
}
.col-form-label-lg {
	font-size: 1.25rem;
	line-height: 1.5;
}



/**
 * Form Control
 */
.form-control {	
	margin-bottom: 1rem;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--dirkColor);
	background-color: var(--lightColor);
	background-clip: padding-box;
	border: 1px solid $gray;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out;
	&[readonly] {
		background-color: $gray;
		opacity: 1;
	}
	&:focus {  
		box-shadow:0;
		border-color: blue;
		outline :0;
	}  
}
.form-control-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.form-control-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}




/**
 * form-check
 */
.form-check {
	position: relative;
}
.form-check-inline {
	display: inline-block;
	+ .form-check-inline {
		margin-left: $FORM-CHECK-INLINE-MARGIN;
	}
}

/**
 * checkbox, radio
 */
input[type=checkbox].form-check-input,
input[type=radio].form-check-input
{
	display: none;
	& + .form-check-label {
		padding-left: $FORM-TYPE-SIZE + $FORM-LABEL-BLANK;
		cursor: pointer;
		&:before,
		&:after {
			position: absolute;
			width: $FORM-TYPE-SIZE;
			height: $FORM-TYPE-SIZE;
			left: 0px;
			top: 0px;
			margin-top: $FORM-TYPE-SIZE * .2;
		}
		&:before {
			content: '';
			display: inline-block;
			margin-right: 10px;
		}
	}
	&:checked + .form-check-label:before {
		color: $white;  
		background-color: $primary;
	}
}
input[type=checkbox].form-check-input {
	& + .form-check-label {
		&:before {
			font-size: $FORM-TYPE-SIZE * .8;
			border-radius: 2px;
			box-shadow: 0px 0px 2px var(--darkColor);
		}
	}
	&:checked + .form-check-label:before {
		content: '\2714';
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	}
}
input[type=radio].form-check-input {
	position: relative;
	width: 0;
	height: 0;
	& + .form-check-label {
		&:before,
		&:after {
			content: '';
			border-radius: $BORDER-ROUNDED;
			-webkit-transition: 240ms;
			-o-transition: 240ms;
			transition: 240ms;
		}
		&:before {
			background-color: $primary;
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			-o-transform: scale(0);
			transform: scale(0);
		}
		&:after {
			box-shadow: 0px 0px 2px var(--darkColor);
		}
	}
	&:checked + .form-check-label {
		&:before {
			-webkit-transform: scale(0.7);
			-ms-transform: scale(0.7);
			-o-transform: scale(0.7);
			transform: scale(0.7);
		}
	}
}


/**
 * switch
 */
.form-switch-label {
	position: relative;
	display: inline-block;
	border-radius: $BORDER-PILL;
	width: 2rem;
	height: 1rem;
	cursor: pointer;
	background: $gray;
	text-indent: $indet-unshow;
	&:after {
		content: '';
		position: absolute;
		top: 0.1rem;
		left: 0.1rem;
		width: 0.8rem;
		height: 0.8rem;
		background: #fff;
		border-radius: $BORDER-PILL;
		transition: 0.3s;
	}
	&:active:after { width: 1.2rem; }
	&.size-md {
		width: 4rem;
		height: 2rem;
		&:after {
			top: 0.2rem;
			left: 0.2rem;
			width: 1.6rem;
			height: 1.6rem;
		}
		&:active:after { width: 2.4rem; }
	}
	&.size-lg {
		width: 8rem;
		height: 4rem;
		&:after {
			top: 0.4rem;
			left: 0.4rem;
			width: 3.2rem;
			height: 3.2rem;
		}
		&:active:after { width: 4.8rem; }
	}
}
.form-switch-input {
	display: none;
	&:checked + .form-switch-label {
		background: $primary;
		&.success { background: $success; }
		&.warning { background: $warning; }
		&.danger { background: $danger; }
		&.info { background: $info; }
		&.brown { background: $brown; }
		&.dark { 
			background: var(--darkColor);
			&:after {
				background: var(--lightColor);
			}
		}
		&.light { 
			background: var(--lightColor);
			&:after {
				background: var(--darkColor);
			}
		}
	}
	&:checked + .form-switch-label {
		&:after {
			left: calc(100% - 0.1rem);
			transform: translateX(-100%);
		}
		&.size-md:after {
			left: calc(100% - 0.2rem);
		}
		&.size-lg:after {
			left: calc(100% - 0.4rem);
		}
	}
}


/**
 * worked-with
 */
.form-checkbox {
	&:checked ~ .form-check-label.worked-with {
		color: $primary;
	}
}

/**
 * disabled
 */
.form-check-input {
	&[disabled] ~ .form-check-label,
	&:disabled ~ .form-check-label {
		color: $gray;
		&:before,
		&:after {
			background-color: rgba($gray, $DISABLED-OPA);
		}
	}
}

