/**
 * Form values
 * $FORM-TYPE-SIZE and $FORM-LABEL-BLANK must have the same data type, like 'px' 'rem'...
 */
$FORM-TYPE-SIZE: 1rem;
$FORM-LABEL-BLANK: .6rem;
$FORM-CHECK-INLINE-MARGIN: 1rem;
$DISABLED-OPA: .6;

.form {
	
}

/**
 * form-group
 */
.form-group {
	margin-bottom: 1rem;
}


/**
 * form-check
 */
.form-check {
		position: relative;
	&.form-check-inline {
		display: inline;
		+ .form-check-inline {
			margin-left: $FORM-CHECK-INLINE-MARGIN;
		}
	}
	
	/**
	 * checkbox, radio
	 */
	input[type=checkbox].form-check-input,
	input[type=radio].form-check-input
	{
		display: none;
		& + .form-check-label {
			padding-left: $FORM-TYPE-SIZE + $FORM-LABEL-BLANK;
			cursor: pointer;
			&:before,
			&:after {
				position: absolute;
				width: $FORM-TYPE-SIZE;
				height: $FORM-TYPE-SIZE;
				left: 0px;
				top: 0px;
				margin-top: $FORM-TYPE-SIZE * .2;
			}
			&:before {
				content: '';
				display: inline-block;
				margin-right: 10px;
			}
		}
		&:checked + .form-check-label:before {
			color: $white;  
			background-color: $primary;
		}
	}
	input[type=checkbox].form-check-input {
		& + .form-check-label {
			&:before {
				font-size: $FORM-TYPE-SIZE * .8;
				border-radius: 2px;
				box-shadow: 0px 0px 2px var(--darkColor);
			}
		}
		&:checked + .form-check-label:before {
			content: '\2714';
			text-align: center;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		}
	}
	input[type=radio].form-check-input {
		position: relative;
		width: 0;
		height: 0;
		& + .form-check-label {
			&:before,
			&:after {
				content: '';
				border-radius: $BORDER-ROUNDED;
				-webkit-transition: 240ms;
				-o-transition: 240ms;
				transition: 240ms;
			}
			&:before {
				background-color: $primary;
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				transform: scale(0);
			}
			&:after {
				box-shadow: 0px 0px 2px var(--darkColor);
			}
		}
		&:checked + .form-check-label {
			&:before {
				-webkit-transform: scale(0.7);
				-ms-transform: scale(0.7);
				-o-transform: scale(0.7);
				transform: scale(0.7);
			}
		}
	}
}

.form-check-input {
	&[disabled] ~ .form-check-label,
	&:disabled ~ .form-check-label {
		color: $gray;
		&:before,
		&:after {
			background-color: rgba($gray, $DISABLED-OPA);
		}
	}
}

