.hr-style {
    overflow: visible;
    padding: 0px;
    border: none;
    border-top: .1rem solid var(--border-color, $gray);
    &.center{
        text-align: center;
    }
    &.left{
        text-align: left;
    }
    &.right{
        text-align: right;
    }

    &:after {
        content:var(--content,"</>");
        display: inline-block;
        position: relative;
        top: -.9rem;
        font-size: 1rem;
        padding: 0 0.25rem;
        color: var(--text-color, $gray);
        background: var(--backgroundColor);
        transition: $darkmode-transition;
    }
}

.hr-dashed {
    border: 0;
    border-bottom: .1rem dashed #ccc;
    background: var(--backgroundColor);
    transition: $darkmode-transition;
}