$LIST-BORDER-OPA: .4;
$LIST-BG-OPA: .3;

@mixin border-radius {
    &:first-child {
        border-top-left-radius:  $BORDER-SM;
        border-top-right-radius: $BORDER-SM;
    }
    &:last-child {
        border-bottom-left-radius:  $BORDER-SM;
        border-bottom-right-radius: $BORDER-SM;
        border-bottom: 1px solid  var(--darkColor);
    }
}

@mixin base-list ($color) {
	color : $color;
	border: 1px solid rgba($color, $LIST-BORDER-OPA);
	background-color: rgba($color, $LIST-BG-OPA);
}

.list-group {
    position: relative;
    display: flex;
    flex-direction: column;
	overflow: hidden;
    padding-left:0px;
    margin-right: auto;
    color: var(--darkColor);

    &.list-group-flush { 
        .list-group-item {
            border-bottom: 1px solid var(--darkColor);
            padding: 1rem 1.25rem;
        }
    }

    .active {
        background-color: desaturate(blue , 50%);       // 임시 색
    }
    .disabled {
        $colortest: var(--darkColor);
         color: fade-out($dark, 0);
    }

    &:not(.list-group-flush) {
        .list-group-item {
            border: 1px solid  var(--darkColor);
            border-bottom: 0px;
            padding: 1rem 1.25rem;
            @include border-radius;
            &.list-group-item-primary {
                @include base-list($primary);
            }
            &.list-group-item-success {
                @include base-list($success);
            }
            &.list-group-item-danger {
                @include base-list($danger);
            }
            &.list-group-item-warning {
                @include base-list($warning);
            }
            &.list-group-item-info {
                @include base-list($info);
            }
            &.list-group-item-light { 
                @include base-list($gray);
                border: 1px solid $gray;
                background-color: $white;
            }
            &.list-group-item-dark {
                @include base-list($dark);
                color: $black;
            }
            &.list-group-item-action {
                &:not(.active):not(.disabled):not(button) {
                    &:hover {
                        background-color : var(--darkColor);
                    }
                }
            }
            .badge {
                float: right;
                display: inline-block;
                padding: .25em .4em;
                font-size: 75%;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25rem;
            } 
            .badge-primary {
                color: $light;
                background-color: $primary;
            } 
            .badge-pill {
                padding-right: .6em;
                padding-left: .6em;
                border-radius: 10rem;
            } 
        }
    }

    button {
        background-color: var(--lightColor);
        color: var(--darkColor);
        text-align: left;
        font-size: medium; 
        @include border-radius;

        &:not(.active) {
            &:hover:enabled{
                background-color : var(--darkColor);
            }
        }
    }

    a{
        &:not(.disabled) {
            &:focus {
               outline: 0;
            }
            &:link {
                color: var(--darkColor);
            }
        }
    }
}