$MODAL-BG-OPA: .4;

.modal {
	position: fixed;
	z-index: $Z-modal;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba($black, $MODAL-BG-OPA);
	&.modal-center {
		display: flex;
		align-items: center;
		justify-content: center;
		.modal-content {
			margin: 0;
			width: 50%;
			@media (max-width: $MD-WIDTH) {
				width: 75%;
			}
			@media (max-width: $SM-WIDTH) {
				width: 100%;
				margin: .5rem;
			}
		}
	}
	&:not(.show) {
		opacity: 0;
		visibility: hidden;
		// transition: visibility 0s, padding .2s, opacity .2s linear;
		.modal-content {
			opacity: 0;
			// transition: all .2s;
			transform: translateY(-100px);
		}
	}
	&.removing {
		opacity: 0;
		visibility: visible;
	}
	&.show {
		opacity: 1;
		visibility: visible;
		// transition: visibility 0s, padding .2s, opacity .2s linear;
		.modal-content {
			opacity: 1;
			// transition: all .2s;
			transform: translateY(0px);
		}
	}
	.modal-content {
		background-color: var(--lightColor);
		margin: 1.75rem auto;
		max-width: 50%;
		border: 1px solid $gray;
		@media (max-width: $MD-WIDTH) {
			max-width: 75%;
		}
		@media (max-width: $SM-WIDTH) {
			max-width: 100%;
			margin: .5rem;
		}
	}
	.modal-header {
		display: flex;
		padding: 1rem;
		align-items: normal;
		justify-content: space-between;
		border-bottom: 1px solid $gray;
		.modal-title {
			margin: 0px;
			padding: 0px;
		}
	}
	.modal-body {
		padding: 1rem;
	}
	.modal-footer {
		padding: 1rem;
		border-top: 1px solid $gray;
	}
	.close {
		color: rgba(var(--textColor), .7);
		float: right;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1;
		padding: 1rem 1rem;
		margin: -1rem -1rem -1rem auto;
		border: none;
		background: transparent;
		&:hover,
		&:focus {
			color: var(--textColor);
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.modal-opend-window {
	height: 100vh;
	overflow-y: hidden;
	padding-right: 15px;
}
.modal-opend-mobile {
	overflow-y: hidden;
}