@mixin navbar-theme ($fontColor) {
	color: $fontColor;
	/**
	 *	.nav-item
	 *	@desc: Menu of navbar (li)
	 */
	.navbar-nav {
		.nav-item {
			&.active {
				.nav-link {
					// color: rgba($fontColor, 1);
					color: $fontColor;
				}
			}
			/**
			 *	.nav-link
			 *	@desc: Link of menu (a)
			 */
			.nav-link {
					// color: rgba($fontColor, 1);
					color: $fontColor;
				&.disabled {
					// color: rgba($fontColor, 1);
					color: $fontColor;
					opacity: $NAV-LINK-DISABLED-OPA;
				}
			}
		}
	}
	.navbar-brand {
		// color: rgba($fontColor, 1);
		color: $fontColor;
	}
}

@mixin navbar-responsive ($responsive-width) {
	.navbar-toggler {
		display: none;
	}
	@media (max-width: $responsive-width) {
		justify-content: space-between;
		.navbar-toggler {
			display: block;
		}
		.collapse {
			// Auto responsive, don't have to use `collpase-**`
			@include base-collapse();
		}
		.navbar-collapse {
			flex-basis: 100%;
			.navbar-nav {
				display: block;
				flex-direction: column;
				align-items: left;
			}
		}
	}
}

// Navbar
.navbar {
	width: 100%;	
	position: relative;
    padding: .5rem 1rem;	
    display: flex;
    align-items: center;
	flex-flow: row wrap;
	justify-content: flex-start;
	/**
	 * Navbar-Themes
	 */
	@include navbar-theme(var(--darkColor));
	&.navbar-light {
		background-color: var(--lightColor);
	}
	&.navbar-dark {
		background-color: var(--darkColor);
		@include navbar-theme(var(--lightColor));
	}
	&.navbar-primary {
		background-color: $primary;
		@include navbar-theme(var(--lightColor));
		.navbar-toggler {
			background-color: $primary;
		}
	}

	/**
	 * Responsive-size
	 */
	&.navbar-sm {
		@include navbar-responsive($SM-WIDTH);
	}
	&.navbar-md {
		@include navbar-responsive($MD-WIDTH);
	}
	&.navbar-lg {
		@include navbar-responsive($LG-WIDTH);
	}
	&.navbar-xl {
		@include navbar-responsive($XL-WIDTH);
	}
	
	/**
	 * Navbar-brand : title
	 */
	.navbar-brand {
		margin-right: 1rem;
		display: inline-block;
		padding: 0.5rem;
		font-weight: 700;
		.navbar-brand-logo {
			display: inline-block;
			vertical-align: top;
		}
	}
}

// Navbar menu
.navbar-nav {
	display: flex;
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
	align-items: center;
}

.navbar-collapse {
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}

.navbar-toggler {
	cursor: pointer;
	border: 1px solid var(--darkColor);
	border-radius: $BORDER-XS;
	background-color: $light;
	.navbar-toggler-icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		background: no-repeat center center;
		background-size: 100% 100%;
		// background-image: url(https://systemuicons.com/images/icons/side_menu.svg);
	}
}