// Navbar
.navbar {
	width: 100%;	
	position: relative;
    padding: .5rem 1rem;	
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-start;
	&.navbar-light {
		background-color: $light;
	}
	&.navbar-dark {
		background-color: $dark;
	}
	.navbar-brand {
		margin-right: 1rem;
		display: inline-block;
		font-weight: 700;
		.navbar-brand-logo {
			display: inline-block;
			vertical-align: top;
		}
	}
}

// Navbar menu
.navbar-nav {
	display: flex;
	flex-direction: row;
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;	
	align-items: center;
	/**
	 *	.nav-item
	 *	@desc: Menu of navbar (li)
	 */
	.nav-item {
		line-height: 1.5;
		text-size-adjust: 100%;
		&.active {
			.nav-link {
				color: $black;
			}
		}
		/**
		 *	.nav-link
		 *	@desc: Link of menu (a)
		 */
		.nav-link {
			display: block;
			color: rgba($black, 0.6);
			padding: 0.5rem;
			&.disabled {
				color: rgba($black, 0.3);
				pointer-events: none;
				cursor: default;
			}
		}
	}
}