$NAV-LINK-DISABLED-OPA: .5;

@mixin navbar-theme ($fontColor) {
	color: $fontColor;
	/**
	 *	.nav-item
	 *	@desc: Menu of navbar (li)
	 */
	.navbar-nav {
		.nav-item {
			&.active {
				.nav-link {
					// color: rgba($fontColor, 1);
					color: $fontColor;
				}
			}
			/**
			 *	.nav-link
			 *	@desc: Link of menu (a)
			 */
			.nav-link {
					// color: rgba($fontColor, 1);
					color: $fontColor;
				&.disabled {
					// color: rgba($fontColor, 1);
					color: $fontColor;
					opacity: $NAV-LINK-DISABLED-OPA;
				}
			}
		}
	}
	.navbar-brand {
		// color: rgba($fontColor, 1);
		color: $fontColor;
	}
}

// Navbar
.navbar {
	width: 100%;	
	position: relative;
    padding: .5rem 1rem;	
    display: flex;
    align-items: center;
	flex-flow: row wrap;
	justify-content: flex-start;
	/**
	 * Navbar-Themes
	 */
	@include navbar-theme(var(--darkColor));
	&.navbar-light {
		background-color: var(--lightColor);
	}
	&.navbar-dark {
		background-color: var(--darkColor);
		@include navbar-theme(var(--lightColor));
	}
	&.navbar-primary {
		background-color: $primary;
		@include navbar-theme(var(--lightColor));
	}

	/**
	 * Responsive-size
	 */
	&.navbar-md {
		.navbar-toggler {
			display: none;
		}
		@media (max-width: $MD-WIDTH) {
			justify-content: space-between;
			.navbar-toggler {
				display: block;
			}
			.navbar-nav {
				display: none;
				flex: 1 1 100%;
				align-items: left;
				// display: block;
			}
		}
	}
	
	/**
	 * Navbar-brand : title
	 */
	.navbar-brand {
		margin-right: 1rem;
		display: inline-block;
		padding: 0.5rem;
		font-weight: 700;
		.navbar-brand-logo {
			display: inline-block;
			vertical-align: top;
		}
	}
}

// Navbar menu
.navbar-nav {
	display: flex;
	flex-direction: row;
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
	align-items: center;
	/**
	 *	.nav-item
	 *	@desc: Menu of navbar (li)
	 */
	.nav-item {
		line-height: 1.5;
		text-size-adjust: 100%;
		/**
		 *	.nav-link
		 *	@desc: Link of menu (a)
		 */
		.nav-link {
			display: block;
			padding: 0.5rem;
			&.disabled {
				pointer-events: none;
				cursor: default;
			}
		}
	}
}

.navbar-collapse {
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	justify-content: space-between;
}