// Nav
.nav {
	display: flex;
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
	color: var(--darkColor);
}

.nav-fill {
	> .nav-link,
	.nav-item {
		@extend .f-fill;
		text-align: center;
	}
}

/**
 *	.nav-item
 *	@desc: Menu of navbar (li)
 */
.nav-item {
	line-height: 1.5;
	text-size-adjust: 100%;
}

/**
 *	.nav-link
 *	@desc: Link of menu (a)
 */
.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--darkColor);
	&.disabled {
		pointer-events: none;
		cursor: default;
		opacity: $NAV-LINK-DISABLED-OPA;
	}
}