@mixin striped-color($color) {
   $tint-color: darken($color, 5%);
   color: darken($color, 30%);
   background-image: linear-gradient(45deg, $color 25%, $tint-color 25%, $tint-color 50%, $color 50%, $color 75%, $tint-color 75%, $tint-color 100%);
}
@mixin progress-bar-color($color) {
   color: darken($color, 30%);
   background-color: $color;
}

.progress {
 overflow: hidden;
 padding: .25rem;
 background: $gray;
 border-radius: $BORDER-XS;
 box-shadow: inset 0  0.0625rem 0.125rem rgba(0, 0, 0, 0.25), 0  0.0625rem rgba(255, 255, 255, 0.08);
 text-align: center;
 &.progress-filled{
   padding: 0px;
 }

 .progress-bar {
   width: 0px;
   height: 1rem;
   border-radius: $BORDER-XS;
   display: flex; 
   text-align: center;
   justify-content: center;
   flex-direction: column;
   transition: 0.4s linear;
   @include progress-bar-color($primary);  
   transition-property: width, background-color;
   &.progress-bar-sm {
       height: .65rem;
       font-size: .75rem;
   }
   &.progress-bar-lg {
       height: 1.5rem;
   }
   &.progress-bar-xl {
       height: 2rem;
   }

   &.success {
       @include progress-bar-color($success);
    }
    &.warning {
       @include progress-bar-color($warning);
    } 
    &.danger {
       @include progress-bar-color($danger);
    } 
    &.info {
       @include progress-bar-color($info);
    }  
    &.brown {
       @include progress-bar-color($brown);
    }
   &.progress-moved {
       animation: progressAnimation 6s;
   }
   &.progress-striped { 
       background-size: 3.5rem 3.5rem;
       width: 0px; 
       @include striped-color($white);
       &.success {
           @include striped-color($success);
        } 
        &.primary {
           @include striped-color($primary);
        }
        &.warning {
           @include striped-color($warning);
        } 
        &.danger {
           @include striped-color($danger);
        } 
        &.info {
           @include striped-color($info);
        }  
        &.brown {
           @include striped-color($brown);
        }
       &.progress-striped-moved {
       animation: progressAnimation 6s;
     }
   }
 }
}

@keyframes progressAnimation {
 0%   { width: 0px;}
}
