@mixin set-border-color($color) {
  border-bottom-color : $color;
}
@mixin set-dot-color($color) {
	border-top-color : $color;
}

/**
 * Spinner - has border
 */
.spinner-border {
	width: 2rem;
  height: 2rem;
  border: 5px solid $white;
  border-bottom-color: $dark;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &.alpha {
    border-color: transparent;
    border-bottom-color: $dark;
  }
  
  @each $color, $value in $colors-lists {
    &.#{$color} {
      @include set-border-color($value);
    }
  }
}
.spinner-border-sm {
	width: 1rem;
	height: 1rem;
}
.spinner-border-lg {
	width: 3rem;
	height: 3rem;
}
.spinner-border-xl {
	width: 4rem;
	height: 4rem;
}
  /**
 * Spinner - has dot
 */
.spinner-dot {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-top: 3px solid $dark;
  border-right: 3px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  @each $color, $value in $colors-lists {
    &.#{$color} {
      @include set-dot-color($value);
    }
  }
}
.spinner-dot-sm {
	width: 1rem;
	height: 1rem;
}
.spinner-dot-lg {
	width: 3rem;
	height: 3rem;
}
.spinner-dot-xl {
	width: 4rem;
	height: 4rem;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
    }
    100% {
		transform: rotate(360deg);
    }
} 