// Grid
$MAX-COLUMNS: 12;

// Responsive breakpoints
$SM-WIDTH: 576px;
$MD-WIDTH: 768px;
$LG-WIDTH: 992px;
$XL-WIDTH: 1200px;

$container-padding: 1rem;
$container-width: 960px;

// Color
$white : white;
$black : black;

$success: #17c37b;
$success-hover: #00a03e;
$success-focus: green;
$success-ol-hover: #17c37b;
$success-ol-focus: green;

$primary: #0087cb;
$primary-hover: #3366CC;
$primary-focus: #003399;
$primary-ol-hover: #0087cb;
$primary-ol-focus: #3366CC;

$warning: orange;
$warning-hover: #d68b00;
$warning-focus: #c78000;
$waring-ol-hover: orange;
$waring-ol-focus: orange;

$danger: #ff847c;
$danger-hover: #e84a5f;
$danger-focus: #e8505b;
$danger-ol-hover: #ff847c;
$danger-ol-focus: #e84a5f;


$dark: #4c5870;
$dark-hover: #3d3d3b;
$dark-focus: #3d3d3b;
$dark-ol-hover: #4c5870;
$dark-ol-focus: #3d3d3b;

$light-hover: gainsboro;
$light-focus: gainsboro;

$light: #f8f9fa;
$info: #43C6DB;
$info-hover: #3EA99F;
$info-focus: #3EA99F;
$info-ol-hover: #43C6DB;
$info-ol-focus: #46C7C7;

$brown: #ba7967;
$brown-hover: #966051;
$brown-focus: #595238;
$brown-ol-hover: #ba7967;
$brown-ol-focus: #ba7967;
