// Grid
$MAX-COLUMNS: 12;

// Responsive breakpoints
$SM-WIDTH: 576px;
$MD-WIDTH: 768px;
$LG-WIDTH: 992px;
$XL-WIDTH: 1200px;

$container-padding: 1rem;
$container-sm-width: 544px;
$container-md-width: 736px;
$container-width: 960px;
$container-xl-width: 1168px;
$column-padding: 1rem;

// Color
$white: white;
$black: black;  
$dark: #1b1b1b;
$light: #f3f2f5;
$success: #17c37b;
$primary: #b897ff;
$warning: #fab025;
$danger: #f5584e;
$gray: gainsboro;
$info: #43C6DB;
$brown: #ba7967;
$link-color: #2d8aed;

// Night
$nightBG: #201D23;
$nightPrimary: #6E5B99;

// LINE-HEIGHT
$BASE-LINE-HEIGHT: 1.5;
$H-LINE-HEIGHT: 1.2;

// Z-index
$Z-fixed: 1001;
$Z-notice-box: 1002;
$Z-modal: 1003;
$indet-unshow: -9999px;

// Border Radius
$BORDER-XS: .25rem;
$BORDER-SM: .5rem;
$BORDER-MD: 1rem;
$BORDER-PILL: 50rem;
$BORDER-ROUNDED: 50%;

// COLLAPSE-SPEED
$COLLAPSE-SPEED: 0.25s;

// NAV
$NAV-LINK-DISABLED-OPA: .5;