:root {
	--whiteColor: #{$white};
	--blackColor: #{$black};
	--lightColor: #{$light};
	--darkColor: #{$dark};
}

html {
	background-color: var(--whiteColor);
	color: var(--blackColor);
	&.transition {
	  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 200ms!important;
	  transition-delay: 0!important;
	}
}
html[data-theme='dark'] {
	background-color: var(--whiteColor);
	color: var(--blackColor);
	--whiteColor: #{$black};
	--blackColor: #{$white};
	--lightColor: #{$dark};
	--darkColor: #{$light};
}

body {
	margin: 0px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	// line-height: 1.5rem;
}

* {	
	box-sizing: border-box;
}


/**
 * H tag
 */
$H-WEIGHT: 500;
$H-MARGIN-BOTTOM: .5rem;
h1, h2, h3, h4, h5, h6 {
	font-weight: $H-WEIGHT;
	margin-top: 0px;
	margin-bottom: $H-MARGIN-BOTTOM;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }


/**
 * A tag
 */
a {
	color: $link-color;
	text-decoration: none;
}


/**
 * P tag
 */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
