/**
 * Vertical-Align
 */
.align-vertical-baseline {
	vertical-align: baseline !important;
}
.align-vertical-top {
	vertical-align: top !important;
}
.align-vertical-middle {
	vertical-align: middle !important;
}
.align-vertical-bottom {
	vertical-align: bottom !important;
}
.align-vertical-text-top {
	vertical-align: text-top !important;
}
.align-vertical-text-bottom {
	vertical-align: text-bottom !important;
}