/**
 * Vertical-Align
 */
.align-vertical-baseline {
	vertical-align: baseline;
}
.align-vertical-top {
	vertical-align: top;
}
.align-vertical-middle {
	vertical-align: middle;
}
.align-vertical-bottom {
	vertical-align: bottom;
}
.align-vertical-text-top {
	vertical-align: text-top;
}
.align-vertical-text-bottom {
	vertical-align: text-bottom;
}

/**
 * Item-Align
 */
.align-items-stretch {
	align-items: stretch;
}
.align-items-center {
	align-items: center;
}
.align-items-start {
	align-items: flex-start;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-baseline {
	align-items: baseline;
}

/**
 * Content-Align
 */
.align-content-stretch {
	align-content: stretch;
}
.align-content-center {
	align-content: center;
}
.align-content-start {
	align-content: flex-start;
}
.align-content-end {
	align-content: flex-end;
}
.align-content-space-around {
	align-content: space-around;
}

/**
 * Self-Align
 */
.align-self-stretch {
	align-self: stretch;
}
.align-self-center {
	align-self: center;
}
.align-self-start {
	align-self: flex-start;
}
.align-self-end {
	align-self: flex-end;
}
.align-self-end {
	align-self: baseline;
}
