@mixin base-collapse () {
	overflow: hidden;
	&:not(.show) {
		max-height: 0px;
		transition: max-height $COLLAPSE-SPEED ease-out;
	}
	&.show {
		max-height: 100vh;
		transition: max-height $COLLAPSE-SPEED ease-in;
	}
}

@mixin responsive-collapse ($responsive-width) {
	@media (max-width: $responsive-width) {
		@include base-collapse();
	}
}
.collapse {
	&.collapse-sm { @include responsive-collapse($SM-WIDTH); }
	&.collapse-md { @include responsive-collapse($MD-WIDTH); }
	&.collapse-lg { @include responsive-collapse($LG-WIDTH); }
	&.collapse-xl { @include responsive-collapse($XL-WIDTH); }
}