.dsp-none {
	display: none;
}
.dsp-block {
	display: block;
}
.dsp-inline {
	display: inline;
}
.dsp-inline-block {
	display: inline-block;
}
.dsp-table {
	display: table;
}
.dsp-flex {
	display: flex;
}