/**
 * Float Feature
 */
.float-inherit { float: inherit !important; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-initial { float: initial !important; }
.float-none { float: none !important; }