/**
 * Position
 */
.pos-static {
	position: static !important;
}
.pos-relative {
	position: relative !important;
}
.pos-absolute {
	position: absolute !important;
}
.pos-fixed {
	position: fixed !important;
}
.pos-sticky {
	position: -webkit-sticky !important;
	position: sticky !important;
}


/**
 * Pos-convenience
 */
.top-left {
	top: 0px !important;
	left: 0px !important;
}
.top-right {
	top: 0px !important;
	right: 0px !important;
}
.bottom-left {
	bottom: 0px !important;
	left: 0px !important;
}
.bottom-right {
	bottom: 0px !important;
	right: 0px !important;
}

/**
 * Pos Fixed-*
 */
.fixed-top {
	position: fixed !important;
	top: 0px !important;
	z-index: $Z-fixed !important;
}
.fixed-bottom {
	position: fixed !important;
	bottom: 0px !important;
	z-index: $Z-fixed !important;
}
.fixed-100 {
	position: fixed !important;
	@extend .top-left;
	width: 100%;
	height: 100%;
}